---
# layout: main.njk
# this template inherits (extends) main.njk
#  so that we can use the block head_extra
# attention: block main has to be used

relatedPages:
  - link: bedAndBreakfast
  - link: surfschool
  - link: mountainBike
---
{% extends "main.njk" %}

{% block head_extra %}
  <script src="/_assets/scripts/valid-form.min.js"></script>
{% endblock %}

{% import "partial.njk" as partial %}

{% block main %}

  {% hero {src:"/images/heros/hero-booking-request.jpg", 
alt:links[locale].bookingRequest.title, myClass:"max-scaled"} %}

  <section class="centered">
    {{ partial.get(collections, tags, "form", locale) }}
  </section>

  <nav class="centered">
    {% related {links: links[locale], pages: relatedPages} %}
  </nav>

{% endblock %}