<div class="form-wrapper centered">
  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
  <form action="{{ env.mailerUrl }}/api/contact" method="post">
    <input name="apiKey" type="text" value="{{ env.apiKey }}" hidden/>
    <input name="locale" type="text" value="{{ locale }}" hidden/>
    <div class="form-fields">
      <!-- name -->
      <div class="form-group">
        <div>
          <label for="name">{{ name.label }}
            <sup>&#x2605;</sup>
          </label>
        </div>
        <div>
          <input name="name" id="name"
              type="text"
              class="form-control"
              data-valueMissing="{{ valueMissing.hint }}"
              autofocus
              required/>
        </div>
      </div>
      <!-- email -->
      <div class="form-group">
        <div>
          <label for="email">{{ email.label }}
            <sup>&#x2605;</sup>
          </label>
        </div>
        <div>
          <input name="email" id="email" type="email"
            class="form-control"
            data-valueMissing="{{ valueMissing.hint }}"
            data-patternMismatch="{{ patternMismatch.email }}"
            required/>
        </div>
      </div>
      <div class="form-group">
        <div>
          <label for="comment">{{comment.label}}</label>
        </div>
        <textarea name="comment" id="comment" rows="6"></textarea>
      </div>
      <div class="cf-turnstile form-fields__submit" data-sitekey="{{ env.siteKey }}" data-theme="light"></div>
      <!-- send -->
      <div class="form-fields__submit">
        <input type="submit" value="{{submit.label}}">
      </div>
    </div>
  </form>
</div>