---
layout: main.njk

relatedPages:
  - link: surfschool
  - link: mountainBike
  - link: kidsAreWelcome
  - link: bedAndBreakfast
  - link: surfLodges
  - link: animals

bookingBanner:
  - link: bookingBedAndBreakfast
  - link: bookingPackages
  - link: bookingExperiences

---

{% import "partial.njk" as partial %}
{% import "booking-columns.njk" as bookingColumns %}

{% hero {src:"/images/heros/hero-home.jpg", 
alt:"Da Silva Surfcamp Mountainbike Portugal", myClass:"max-scaled"} %}

<section class="centered">
  {{ partial.get(collections, tags, "welcome", locale) }}
</section>

<nav class="display-if-middle-to-wide">
  {% include "masonry.njk" %}
</nav>
<nav class="display-if-small">
  {% related {links: links[locale], pages: relatedPages} %}
</nav>

<br/>
<section class="centered">
  {{ partial.get(collections, tags, "feedback", locale) }}
  {% include "instagram.njk" %}
</section>
<br/>

<section>
  <script src="/_assets/scripts/minimalist-video-player.min.js"></script>
  <minimalist-video-player platform="youtube" video-id="XPDcLCZIOeM">
	  {% image {src:"/images/home/video-splash-dasilva-surfcamp.jpg", alt:"Da Silva Surfcamp Video", variant:"hero", myClass:"video-splash"}%}
  </minimalist-video-player>
</section>

<br/>

<section class="centered">
  {{ partial.get(collections, tags, "spirit-of-surfing-2", locale) }}
</section>

<section>
  <h2>{{ links[locale].onlineBooking.title }}</h2>
  {% related {links: links[locale], pages: bookingBanner} %}
</section>

<section>
  {{ bookingColumns.threeCards(
    leftTitle=links[locale].bookingRequest.title,
    leftLink=links[locale].bookingRequest.path,
    leftColumn=partial.get(collections, tags, "booking-request", locale),
    middleTitle=links[locale].prices.title,
    middleLink=links[locale].prices.path,
    middleColumn=partial.get(collections, tags, "prices", locale),
    rightTitle=links[locale].travelDirections.title,
    rightLink=links[locale].travelDirections.path,
    rightColumn=partial.get(collections, tags, "travel-directions", locale)
  )}}
</section>

<nav class="display-if-middle-to-wide">
  {% related {links: links[locale], pages: relatedPages} %}
</nav>