<div class="instagram">
  <div>{{ partial.get(collections, tags, "instagram", locale) }}</div>
  <div class="instagram__image">
    <a href="https://www.instagram.com/dasilvasurfcamp/" target="_blank">
      <img src="/_assets/social/instagram-follow-us.png" alt="follow Da Silva Surfcamp on Instagram">
    </a>
  </div>
</div>