<div class="masonry">
  <a href="{{ links[locale].bedAndBreakfast.path }}" class="masonry__item one">
    {% image {src:"/images/masonry/unterkunft.jpg", alt:"Da Silva Surfcamp Mountain Bike Portugal", myClass:"masonry__image"}%}
    <div class="masonry__text-box">
      <div class="masonry__title">{{ links[locale].bedAndBreakfast.title }}</div>
    </div>
  </a>
  <a href="{{ links[locale].surfschool.path }}" class="masonry__item two">
    {% image {src:"/images/masonry/surfschool.jpg", alt:"{{ links[locale].surfschool.title }}", myClass:"masonry__image"}%}
    <div class="masonry__text-box">
      <div class="masonry__title">{{ links[locale].surfschool.title }}</div>
    </div>
  </a>
  <a href="{{ links[locale].kidsAreWelcome.path }}" class="masonry__item three">
    {% image {src:"/images/masonry/kids-are-welcome.jpg", alt:"{{ links[locale].kidsAreWelcome.title }}", myClass:"masonry__image"}%}
    <div class="masonry__text-box">
      <div class="masonry__title">{{ links[locale].kidsAreWelcome.title }}</div>
    </div>
  </a>
  <a href="{{ links[locale].animals.path }}" class="masonry__item four">
    {% image {src:"/images/masonry/animals.jpg", alt:"{{ links[locale].animals.title }}", myClass:"masonry__image"}%}
    <div class="masonry__text-box">
      <div class="masonry__title">{{ links[locale].animals.title }}</div>
    </div>
  </a>
  <a href="{{ links[locale].skateboarding.path }}" class="masonry__item five">
    {% image {src:"/images/masonry/skateboarding.jpg", alt:"{{ links[locale].skateboarding.title }}", myClass:"masonry__image"}%}
    <div class="masonry__text-box">
      <div class="masonry__title">{{ links[locale].skateboarding.title }}</div>
    </div>
  </a>
  <a href="{{ links[locale].yoga.path }}" class="masonry__item six">
    {% image {src:"/images/masonry/yoga.jpg", alt:"{{ links[locale].yoga.title }}", myClass:"masonry__image"}%}
    <div class="masonry__text-box">
      <div class="masonry__title">{{ links[locale].yoga.title }}</div>
    </div>
  </a>
  <a href="{{ links[locale].mountainBike.path }}" class="masonry__item seven">
    {% image {src:"/images/masonry/mountain-bike.jpg", alt:"{{ links[locale].mountainBike.title }}", myClass:"masonry__image"}%}
    <div class="masonry__text-box">
      <div class="masonry__title">{{ links[locale].mountainBike.title }}</div>
    </div>
  </a>
</div>