<div class="menu-list">
  <ul class="top-menu">
    <li>
      {{ translation[locale].menu.camp }}
      <ul class="sub-menu">
        <li>
          <a href="{{ links[locale].bedAndBreakfast.path }}">{{ links[locale].bedAndBreakfast.title }}</a>
        </li>
        <li>
          <a href="{{ links[locale].surfLodges.path }}">{{ links[locale].surfLodges.title }}</a>
        </li>
        <li>
          <a href="{{ links[locale].camping.path }}">{{ links[locale].camping.title }}</a>
        </li>         
        <li>
          <a href="{{ links[locale].kidsAreWelcome.path }}">{{ links[locale].kidsAreWelcome.title }}</a>
        </li>
        <li>
          <a href="{{ links[locale].surroundings.path }}">{{ links[locale].surroundings.title }}</a>
        </li>
        <li>
          <a href="{{ links[locale].surfBar.path }}">{{ links[locale].surfBar.title }}</a>
        </li>
      </ul>
    </li>
    <li>
      {{ translation[locale].menu.action }}
      <ul class="sub-menu">
        <li>
          <a href="{{ links[locale].surfschool.path }}">{{ links[locale].surfschool.title }}</a>
        </li>
        <li>
          <a href="{{ links[locale].skateboarding.path }}">{{ links[locale].skateboarding.title }}</a>
        </li>
        <li>
          <a href="{{ links[locale].mountainBike.path }}">{{ links[locale].mountainBike.title }}</a>
        </li>
        <li>
          <a href="{{ links[locale].yoga.path }}">{{ links[locale].yoga.title }}</a>
        </li>
        <li>
          <a href="{{ links[locale].trailRunning.path }}">{{ links[locale].trailRunning.title }}</a>
        </li>        
        <li>
          <a href="{{ links[locale].animals.path }}">{{ links[locale].animals.title }}</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="{{ links[locale].travelDirections.path }}">{{ links[locale].travelDirections.title }}</a>
    </li>
    <li>
      <a href="{{ links[locale].prices.path }}">{{ links[locale].prices.title }}</a>
    </li>
    <li>
      {{ translation[locale].menu.booking }}
      <ul class="sub-menu second-last">
        <li>
          <a href="{{ links[locale].onlineBooking.path }}">{{ links[locale].onlineBooking.title }}</a>
        </li>
        <li>
          <a href="{{ links[locale].bookingRequest.path }}">{{ links[locale].bookingRequest.title }}</a>
        </li>
        <li>
          <a href="{{ links[locale].contact.path }}">{{ links[locale].contact.title }}</a>
        </li>
      </ul>
    </li>
    <li>
      <img height="30" width="20" src="/_assets/flags/{{locale}}.svg" alt="language switch">
      <ul class="sub-menu last">
        {% include "lang-switch.njk" %}
      </ul>
    </li>
  </ul>
</div>