---
relatedPages:
  - link: mtbTourDasilvaHomeTrail
  - link: mtbTourSantaCruz
  - link: mtbTourSintra
  - link: mtbTourMontejunto
  - link: mtbTourBarragemSaoDomingos
  - link: mtbTourSocorro
---

{% extends "main.njk"%}

{% import "partial.njk" as partial %}

{% block logo %}
  {{ logo.show(
    imgSrc="/_assets/logos/dasilva-bikecamp-logo.png",
    link=links[locale].mountainBike.path,
    alt=links[locale].mountainBike.title)
  }}
{% endblock %}

{% block main %}

<section class="centered">
  {{ partial.get(collections, tags, "start", locale) }}
  {{ partial.get(collections, tags, "data", locale) }}
</section>

 {% hero {src:"/images/mtb-tours/barragem-sao-domingos/map.jpg", 
alt:"Barragem do Sao Domingos Tour Map", myClass:"max-scaled max-text-block-width centered"} %} 

<br>

<section class="centered">
  {{ partial.get(collections, tags, "description", locale) }}
</section>

<nav class="centered">
  {% related {links: links[locale], pages: relatedPages} %}
</nav>

{% endblock %}