---
layout: main.njk

bookingBanner:
  - link: bookingBedAndBreakfast
  - link: bookingPackages
  - link: bookingExperiences    
---
{% import "partial.njk" as partial %}
{% import "price-table.njk" as priceTable %}

<section class="display-if-middle-to-wide">
  {% related {links: links[locale], pages: bookingBanner} %}
</section>

<section class="centered">
  <div class="centered-text">
    {{ partial.get(collections, tags, "bedAndBreakfast", locale) }}
  </div>
  {{ priceTable.two(collections, tags, "bedAndBreakfastPrices", locale) }}
</season>

<section class="centered">
  <div class="centered-text">
    {{ partial.get(collections, tags, "surfPackage", locale) }}
  </div>
  {{ priceTable.two(collections, tags, "surfPackagePrices", locale) }}
</season>

<section class="centered">
  {{ partial.get(collections, tags, "surfPackage2Weeks", locale) }}
  {{ priceTable.two(collections, tags, "surfPackage2WeeksPrices", locale) }}
</season>

<section class="centered">
  <div class="centered-text">
    {{ partial.get(collections, tags, "surf-mtb-package-headline", locale) }}
    {{ partial.get(collections, tags, "surf-mtb-package-including", locale) }}
  </div>
  {{ priceTable.two(collections, tags, "surf-mtb-package-prices", locale) }}
  <div class="centered-text">
    {{ partial.get(collections, tags, "surf-mtb-package-hint", locale) }}
  </div>  
</season>

<section class="centered">
  {{ partial.get(collections, tags, "surfSchool", locale) }}
  <br/>
  {{ priceTable.two(collections, tags, "surfSchoolPrices", locale) }}
</season>

<section class="centered">
  {{ partial.get(collections, tags, "camping", locale) }}
</season>

<section class="">
  {{ partial.get(collections, tags, "directions-tips-activities", locale) }}
  {{ partial.get(collections, "surroundings", "leisure-sports", locale) }}
</season>

<section class="centered">
  {{ partial.get(collections, tags, "booking", locale) }}
</season>

<section>
  {% related {links: links[locale], pages: bookingBanner} %}
</section>