---
layout: main.njk

gallerySurfBar:
  - src: /images/surf-bar/gallery/01-surf-bar.jpg
  - src: /images/surf-bar/gallery/02-surf-bar.jpg
  - src: /images/surf-bar/gallery/03-surf-bar.jpg
  - src: /images/surf-bar/gallery/04-surf-bar.jpg
  - src: /images/surf-bar/gallery/05-surf-bar.jpg
  - src: /images/surf-bar/gallery/06-surf-bar.jpg
  - src: /images/surf-bar/gallery/07-surf-bar.jpg
  - src: /images/surf-bar/gallery/08-surf-bar.jpg
  - src: /images/surf-bar/gallery/09-surf-bar.jpg
         
relatedPages:
  - link: surfschool
  - link: mountainBike
  - link: surroundings      
---
{% import "partial.njk" as partial %}

{% hero {src:"/images/heros/hero-surf-bar.jpg", 
alt:links[locale].surfBar.title, myClass:"max-scaled"} %}

<section class="centered">
  {{ partial.get(collections, tags, "start", locale) }}
</section>

<section>
  {% 2columns {
    leftGallery: {images:gallerySurfBar, altDefault:"Surfbar"},
    rightText: [partial.get(collections, tags, "surf-bar", locale)]
  }%}
</section>

<section class="centered">
  {{ partial.get(collections, tags, "revival", locale) }}
</section>

<nav class="centered">
  {% related {links: links[locale], pages: relatedPages} %}
</nav>
