---
layout: main.njk

gallerySurroundings:
  - src: /images/surroundings/gallery/01-surroundings.jpg
  - src: /images/surroundings/gallery/02-surroundings.jpg
  - src: /images/surroundings/gallery/03-surroundings.jpg
  - src: /images/surroundings/gallery/04-surroundings.jpg
  - src: /images/surroundings/gallery/05-surroundings.jpg
  - src: /images/surroundings/gallery/06-surroundings.jpg
  - src: /images/surroundings/gallery/07-surroundings.jpg
  - src: /images/surroundings/gallery/08-surroundings.jpg
  - src: /images/surroundings/gallery/09-surroundings.jpg
  - src: /images/surroundings/gallery/10-surroundings.jpg
  - src: /images/surroundings/gallery/11-surroundings.jpg
  - src: /images/surroundings/gallery/12-surroundings.jpg
  - src: /images/surroundings/gallery/13-surroundings.jpg
  - src: /images/surroundings/gallery/14-surroundings.jpg
  - src: /images/surroundings/gallery/15-surroundings.jpg

relatedPages:
  - link: yoga
  - link: kidsAreWelcome
  - link: skateboarding
---
{% import "partial.njk" as partial %}

{% hero {src:"/images/heros/hero-surroundings.jpg",
alt:links[locale].surroundings.title, myClass:"max-scaled"} %}

<section class="centered">
  {{ partial.get(collections, tags, "start", locale) }}
</section>

<section>
  {{ partial.get(collections, tags, "locations", locale) }}
  {% surroundingsCards { cards: [
    { title: "Praia da Areia Brance",
      imageSrc: "/images/surroundings/locations/praia-areia-branca.jpg",
      text: partial.get(collections, tags, "praia-areia-branca", locale),
      mapLink: partial.getValueForKey(collections, tags, "praia-areia-branca", "de", "mapLink"),
      webLink: partial.getValueForKey(collections, tags, "praia-areia-branca", "de", "webLink") },
    { title: "Lourinhã",
      imageSrc: "/images/surroundings/locations/lourinha.jpg",
      text: partial.get(collections, tags, "lourinha", locale),
      mapLink: partial.getValueForKey(collections, tags, "lourinha", "de", "mapLink"),
      webLink: partial.getValueForKey(collections, tags, "lourinha", "de", "webLink") },
    { title: "Peniche",
      imageSrc: "/images/surroundings/locations/peniche.jpg",
      text: partial.get(collections, tags, "peniche", locale),
      mapLink: partial.getValueForKey(collections, tags, "peniche", "de", "mapLink"),
      webLink: partial.getValueForKey(collections, tags, "peniche", "de", "webLink") },
    { title: "Baleal",
      imageSrc: "/images/surroundings/locations/baleal.jpg",
      text: partial.get(collections, tags, "baleal", locale),
      mapLink: partial.getValueForKey(collections, tags, "baleal", "de", "mapLink"),
      webLink: partial.getValueForKey(collections, tags, "baleal", "de", "webLink") },
    { title: "Óbidos",
      imageSrc: "/images/surroundings/locations/obidos.jpg",
      text: partial.get(collections, tags, "obidos", locale),
      mapLink: partial.getValueForKey(collections, tags, "obidos", "de", "mapLink"),
      webLink: partial.getValueForKey(collections, tags, "obidos", "de", "webLink") },
    { title: "Nazaré",
      imageSrc: "/images/surroundings/locations/nazare.jpg",
      text: partial.get(collections, tags, "nazare", locale),
      mapLink: partial.getValueForKey(collections, tags, "nazare", "de", "mapLink"),
      webLink: partial.getValueForKey(collections, tags, "nazare", "de", "webLink") }
  ]}%}
</section>

<section>
  {{ partial.get(collections, tags, "leisure-sports", locale) }}
  {% surroundingsCards { cards: [
    { alt: "dino-parque",
      imageSrc: "/images/surroundings/leisure/dino-parque.jpg",
      text: partial.get(collections, tags, "dino-parque", locale),
      mapLink: partial.getValueForKey(collections, tags, "dino-parque", "de", "mapLink"),
      webLink: partial.getValueForKey(collections, tags, "dino-parque", "de", "webLink") },
    { alt: "sportagua",
      imageSrc: "/images/surroundings/leisure/sportagua.jpg",
      text: partial.get(collections, tags, "sportagua", locale),
      mapLink: partial.getValueForKey(collections, tags, "sportagua", "de", "mapLink"),
      webLink: partial.getValueForKey(collections, tags, "sportagua", "de", "webLink") },
    { alt: "Buddha Eden",
      imageSrc: "/images/surroundings/leisure/buddha-eden.jpg",
      text: partial.get(collections, tags, "buddha-eden", locale),
      mapLink: partial.getValueForKey(collections, tags, "buddha-eden", "de", "mapLink"),
      webLink: partial.getValueForKey(collections, tags, "buddha-eden", "de", "webLink") },
    { alt: "Museu Lourinhã",
      imageSrc: "/images/surroundings/leisure/museu-lourinha.jpg",
      text: partial.get(collections, tags, "museu-lourinha", locale),
      mapLink: partial.getValueForKey(collections, tags, "museu-lourinha", "de", "mapLink"),
      webLink: partial.getValueForKey(collections, tags, "museu-lourinha", "de", "webLink") },
    { alt: "escape-room",
      imageSrc: "/images/surroundings/leisure/escape-room.jpg",
      text: partial.get(collections, tags, "escape-room", locale),
      mapLink: partial.getValueForKey(collections, tags, "escape-room", "de", "mapLink"),
      webLink: partial.getValueForKey(collections, tags, "escape-room", "de", "webLink") },
    { alt: "tennis",
      imageSrc: "/images/surroundings/leisure/tennis.jpg",
      text: partial.get(collections, tags, "tennis", locale),
      mapLink: partial.getValueForKey(collections, tags, "tennis", "de", "mapLink"),
      webLink: partial.getValueForKey(collections, tags, "tennis", "de", "webLink") },
    { alt: "minigolf",
      imageSrc: "/images/surroundings/leisure/minigolf.jpg",
      text: partial.get(collections, tags, "minigolf", locale),
      mapLink: partial.getValueForKey(collections, tags, "minigolf", "de", "mapLink"),
      webLink: partial.getValueForKey(collections, tags, "minigolf", "de", "webLink") },
    { alt: "gokart",
      imageSrc: "/images/surroundings/leisure/gokart.jpg",
      text: partial.get(collections, tags, "gokart", locale),
      mapLink: partial.getValueForKey(collections, tags, "gokart", "de", "mapLink"),
      webLink: partial.getValueForKey(collections, tags, "gokart", "de", "webLink") }
  ]}%}
</section>

<section>
  {{ partial.get(collections, tags, "day-trips", locale) }}
</section>

<section>
  {% gallery {images:gallerySurroundings} %}
</section>

<br><br>
<nav class="centered">
  {% related {links: links[locale], pages: relatedPages} %}
</nav>