---
relatedPages:
  - link: bedAndBreakfast
  - link: surfschool
  - link: surfLodges 
---

{% extends "main.njk"%}

{% import "partial.njk" as partial %}

{% block logo %}
{# show no logo, so that the map info can be seen #}
{% endblock %}

{% block main %}

<section>
  <iframe id="map"
    width="100%" height="1000" style="border:0; max-height:80vmax" 
    allowfullscreen="" loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade"></iframe>
  </iframe>
  <script>
    const isMobile = window.matchMedia('(max-width: 400px)').matches
    const iframe = document.getElementById('map')
    const url = "https://www.google.com/maps/embed/v1/place"
    const key = "AIzaSyDuDI_TDTeA8MTgsABbau2wnmjmj83ESTg"
    const q = "Da+Silva+Surfcamp+Portugal,Portugal"
    const zoom = "7"
    const center = isMobile ? "39.11797442207949,-8.875752555029221" : "39.11797442207949,-6.875752555029221"
    const region = "pt"
    const maptype = "satellite"
    iframe.src=`${url}?key=${key}&q=${q}&zoom=${zoom}&center=${center}&region=${region}&maptype=${maptype}&language={{locale}}`
  </script>
</section>

<section class="centered">
  {{ partial.get(collections, tags, "address", locale) }}
  {{ partial.get(collections, tags, "directions", locale) }}
</section>
<nav class="centered">
  {% related {links: links[locale], pages: relatedPages} %}
</nav>

{% endblock %}

