---
layout: main.njk

gallerySurfAndYoga:
  - src: /images/yoga/gallery/01-yoga.jpg
  - src: /images/yoga/gallery/02-yoga.jpg
  - src: /images/yoga/gallery/03-yoga.jpg
 
relatedPages:
  - link: surfschool
  - link: trailRunning
  - link: kidsAreWelcome
  - link: bookingBedAndBreakfast
  - link: bookingPackages
  - link: bookingExperiences
---
{% import "partial.njk" as partial %}
{% import "price-table.njk" as priceTable %}

<section>
  {% gallery {images:gallerySurfAndYoga} %}
</section>

<section class="centered">
  {{ partial.get(collections, tags, "start", locale) }}
</section>

{% hero {src:"/images/heros/hero-yoga.jpg", 
alt:links[locale].yoga.title, myClass:"max-scaled"} %}

<section class="centered">
  {{ partial.get(collections, tags, "prices", locale) }}
  {{ priceTable.two(collections, "prices", "surfYogaPackagePrices", locale) }}
  <div class="centered-text">
    {{ partial.get(collections, tags, "including", locale) }}
  </div>
</section>

<nav class="centered">
  {% related {links: links[locale], pages: relatedPages} %}
</nav>