.booking-teasers {

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 0.8rem;
  }

  @include respond(small-to-middle) {
    &__container {
      grid-template-columns: 1fr;
      // grid-gap: 2.1rem;
    }
  }
}