footer {

  nav {
    margin-bottom: 1.8rem;
  }

  nav > ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-left: 0;
  }

  // override global "-" dashes
  nav > ul > li:before {
    content: "";
  }

  // override _layour.scss
  nav > ul > li:last-child {
    margin-bottom: 0;
  }
}

.footer__social {
  margin-bottom: 1.4rem;
  
  a {
    padding: 0;
  }
  .fa-w-10 {
    width: 1.2rem;
    color: #777;
  }
  .fa-w-14 {
    width: 1.6rem;
    color: #777;
  }
  .fa-w-18 {
    width: 2.1rem;
    color: #777;
  }
}

.footer__lang-switch {
  display: flex;
  justify-content: center;
  gap: 1.8rem;
}