.related {
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  &__item {
    position: relative;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  &__item:hover &__text-box {
    opacity: 1;
    top: 50%;
  }

  &__item:hover &__title {
    font-weight: $font-weight-stronger;
  }

  &__item:hover &__image {
    opacity: 0.5;
  }

  &__title {
    font-family: $font-header;
    font-size: $font-size-middle;
    font-weight: $font-weight-strong;
  }

  &__text-box {
    position: absolute;
    display: block;
    background-color: white;
    transition: .5s ease;
    opacity: 0.8;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    padding: 0.5rem;
    width: 80%;
  }

  &__info {
    top: calc(100% - 8rem);
    background-color: red;
  }

  &__image {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%; // auto
    transition: 0.3s ease;
  }

  @include respond(middle-to-wide) {
    &__grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @include respond(middle) {
    &__title {
      font-family: $font-header;
      font-size: $font-size-small;
      font-weight: $font-weight-middle;
    }
  }
 
}