.surroundings-cards {

  &__container {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__container>div {
    padding: 0;
    margin: 0 auto;
  }

  &__title {
      margin: 0;
      font-size: $font-size-wide;
      font-weight: $font-weight-stronger;
  }

  &__image {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  &__map-link, &__web-link {
    width: 3rem;
    margin: 0.5rem;
  }

  @include respond(small) {
    &__container {
      grid-template-columns: 1fr;
      grid-gap: 2.1rem;
    }
  }

  @include respond(pad-to-wide ) {
    &__container {
      grid-template-columns: 1fr 1fr;
      grid-gap: 2.1rem;
    }
  }

  @include respond(wide) {
    &__container {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 2.1rem;
    }
  }
}