---
layout: main.njk

relatedPages:
  - link: surfschool
  - link: bedAndBreakfast
  - link: mountainBike
---
{% import "partial.njk" as partial %}
{% import "price-table.njk" as priceTable %}

{% hero {src:"/images/heros/hero-e-bike.jpg", 
alt:links[locale].eBike.title, myClass:"max-scaled"} %}

<section class="centered">
  {{ partial.get(collections, tags, "start", locale) }}
</section>

<section class="centered">
  {{ partial.get(collections, tags, "prices", locale) }}
</section>

<section class="centered">
  {{ partial.get(collections, tags, "end", locale) }}
</section>

<nav class="centered">
  {% related {links: links[locale], pages: relatedPages} %}
</nav>
